/* General */
body{
    margin: 0;
    background-color: #f5f5f5;
}

footer{
    background-color: #f5f5f5;
}

.icon{
    width: 35%;
   margin-bottom: 40px;
   margin-top: 0;
}

.pulse{
    position: relative;
    left: 37%;
    margin-top: 100px;
    width: 15%;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

h2{
    font-size: 33px;
}



/* ------------------------------------making sticky header----------------------------------*/


.header{
    background-color: transparent;
    padding-left: 10px 16px;
 
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}




/*--------------------------------burgermenu------------------------------------------*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.header {
    display: flex;
    width:100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    border-bottom: 1px solid #2E2D2B;
    background-color: #f5f5f5;
   
}


.hamburger{
    position: relative;
    display:block;
    width: 35px;
    margin: 16px 16px 20px 0;
    cursor:pointer;


    appearance: none;
    background: none;
    outline:none;
    border:none;
    z-index: 3;
}

.hamburger .bar, .hamburger:after, .hamburger:before { 
    /* after og before er psheudo elementer der kan lave flere elementer til den det givet element*/
    content: ''; /* content er none*/
    display: block;
    width: 100%;
    height: 5px;
    background-color:#2e2d2b;
    margin:6px 0;
    transition:0.4s;
}

.hamburger.is-active:before{
    transform:rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.hamburger.is-active:after {
    transform:rotate(45deg) translate(-9px, -8px);
}

.mobil-nav {
    display:block;
    top:0;
    left:100%;
    width:100%;
    min-height: 100vh;
    position: fixed;
    z-index:2;
    background-color: #f5f5f5df;
    padding-top:140px;
    transition: 0.4s;
  
}

.mobil-nav.is-active {
    left:0;
}

.mobil-nav a{

    display:block;
    width:100%;
    max-width:200px;
    margin:0 auto 40px;
    text-align:center;
    padding:16px;
    background-color: rgba(212, 210, 210, 0.748);
    color: #2E2D2B;
    border: 1px solid #2E2D2B;
     
}

.mobil-nav a:hover{
    background-color: #9a9797;
}


a {
    border:1px solid #397ea1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: rgba(212, 210, 210, 0.254);
    padding: 10px;
    color:#2e2d2b;
    text-decoration: none;
    border-radius:6px;
    display: none;
    transition: 0.2s;
}

a:hover {
    background: #896b2d;
    color: #DCD9D5;
}

li{
    list-style: none;
    display: flex;
    padding: 0 16px;
   

}

body{
    background-image: linear-gradient(#D9F2FF,#3eb3c2);
}

#logo{
    margin: 12px 0 20px 10px;
    width: 10vh;
    height: 10vh;
    transition: 0.2s;
}

.nav-text{
    text-align: center;
    flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#2e2d2b;
}


/*------------------------snap-------------------------*/

.box{
    flex: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    margin-top: 0;
}

#one{
    background-image: linear-gradient(#f5f5f5, #ffd9b8, #ffb574);
}

#two{
    background-image: linear-gradient(#f5f5f5, #72dc87) ;
}

#three{
    background-image: linear-gradient(#f5f5f5, #5aacd6);
}

#four{
    background-image: linear-gradient(#f5f5f5, #8b8783 );
}

#five{
    background-image: linear-gradient(#f5f5f5, #ffb574, #f5f5f5);
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 85vh;
}

.textbox{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

#skriv_container{
    position: relative;
    top: -15%;
    z-index: 1;
    width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 25px;
    border-radius: 12px ;
    background-color: #f5f5f5;
    color: #ec7105;
    border-color: #ff8d29;
}

#vises{
    position: relative;
    width: 100%;
    top: 5%;
}

#five h2{
    font-size: 50px;
    margin-bottom: 30px;
}



/*animationer*/

.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  @keyframes pulse {
    0% {
      transform: scale(100%);
    }
    50% {
      transform: scale(115%);
    }
    100% {
      transform: scale(100%);
    }
  }

  


/* webdesign*/


@media(min-width:800px){

    .tab{
        display: block;
    }

    .arrow{
        display: none;
    }

    .mobil-nav{
        display: none;
    }

    .hamburger{
        display: none;
    }

    .tabcontent{
        flex: none;
        justify-content: none;
        align-items: none;
        flex-direction: none;
        scroll-snap-align: none;
    }

    .container{
        scroll-snap-type: none;
        overflow-y: none;
        height: 100%;
    }
    

    /* Style the tab */
    .tab {
     overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 70px;
    }


  
  /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 24px;
        transition: 0.3s;
    }
  
  /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }
  
  /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }
  
  /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 100px;
    }

    .icon{
        height: 50%;
    }















}
























































