html{
    --primary-color: #f5f5f5;
    --secondary-color: #2e2d2b;
    --tertiary-color: #7e7e7eac;

    --bane-color_1: #a9eab6;
    --banen-color_2: #7fc08c;

    --kfk-color_1: #D9F2FF;
    --kfk-color_2: #abe2ff;

    --kontakt-color_1: #ffd9b8;
    --kontakt-color_3: #ffb574;
}