/*mobil site style*/
header {
    display: flex;
    padding: 30px;
    position: fixed;
}

body {
    display: grid;
    background-color: #F5F5F5;
    background-image: linear-gradient(#f5f5f5, #BEBAB4);
}

div {
    margin: 5%;
    background-color: #8B8783;
}

img {
    width: 90%;
    padding: 5%;
}
h1{
    font-family: "Raleway";
}
p,
h2, h3 {
    text-align: center;
    margin: 0%;
    padding-bottom: 5%;
    font-family: "SourceSansPro";
}

/*id*/
#søren {
    display: none;
}
#anton {
    display: none;
}
#sinus {
    display: none;
}

/*classes*/

/*web format til layout som grid ect.*/
@media(min-width:800px) {
    main {
        display: grid;
    }
    
    
    header a {
        justify-content: space-around;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.483);
        border-radius: 5px;
        padding: 1%;
    }
    
    img#søren, img#anton, img#sinus {
        display: block;
        width: 50%;
        padding: 5%;
        margin: auto;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*Class*/
    .sørengrid{
        grid-column: span 1;
        grid-row: span 4
    }
    .antongrid{
        grid-column: span 1;
        grid-row: span 4
    }
    .sinusgrid{
        grid-column: span 1;
        grid-row: span 4
    }
    .mail{
        text-align: left;
        grid-column: 2;
    }
}
@font-face{
    font-family: "SourceSansPro";
    src: url(../font/SourceSansPro-Light.ttf)
}
@font-face{
    font-family: "Raleway";
    src: url(../font/Raleway-Italic-VariableFont_wght.ttf);
}