/* General */
main{
    background-color: lightgrey;
}

.icon{
    width: 50%;
}


/*snap*/

section{
    flex: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

.one{
    background-color: #ffb574 ;
}

.two{
    background-color: #72dc87;
}

.three{
    background-color: #abe2ff;
}

.four{
    background-color: #8b8783;
}

.five{
    background-color: #ffb574;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}